html {
	font-size: 100%;
}
* {
	font-size: 105%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}


/*Table Section*/
table {
	border-spacing: 0px;
	border-style: none;
	border-color: gray;
	border-collapse: collapse;
}
table th {
	background-color: #eeeeee;
	border: 1px solid black;
	font-weight: bold;
}
table td {
}
table th, table td {
	border-width: 2px;
	padding: 5px;
	border-style: dotted;
	border-color: gray;
}
table tr:hover {
	background-color: #eeeeee;
	border: 1px solid black;
}

/*Fieldset Section*/
fieldset input, fieldset select {
	display:block;
	border: 1px solid hsl(0, 0%, 80%);
	padding: 6px 4px;
	outline: none;
	border-radius: 4px;
}
label {
	margin-top: .25em;
	float: left;
	width: 12em;
	margin-right: .5em;
	clear: left;
	text-align: right;
}